/*
	Daily Color Scheme: Cable Services
	http://beta.dailycolorscheme.com
*/

.color-D31D8C
{
	background-color: #D31D8C;
}

.color-EE88CD
{
	background-color: #EE88CD;
}

.color-4DC5D6
{
	background-color: #4DC5D6;
}

.color-A5F2F3
{
	background-color: #A5F2F3;
}

.color-BCDD11
{
	background-color: #BCDD11;
}

.color-F1FAC0
{
	background-color: #F1FAC0;
}

.color-CBCB9C
{
	background-color: #CBCB9C;
}

.color-EEEEDF
{
	background-color: #EEEEDF;
}