/*
	Daily Color Scheme: Facing Automation
	http://beta.dailycolorscheme.com
*/

.color-5F8183
{
	background-color: #5F8183;//greenish grey
}

.color-94A7AB
{
	background-color: #94A7AB;//lighter grey
}

.color-C6064F
{
	background-color: #C6064F;//red
}

.color-F93981
{
	background-color: #F93981;//pink
}

.color-FA6BA1
{
	background-color: #FA6BA1;//lighter pink
}

.color-E7C51B
{
	background-color: #E7C51B;//chrome yellow
}

.color-F6E8A5
{
	background-color: #F6E8A5;//lighter chrome
}

.color-8173B1
{
	background-color: #8173B1;//violet
}

.color-8DC1E8
{
	background-color: #8DC1E8;
}