/*
	Daily Color Scheme: Flickr scheme
	http://beta.dailycolorscheme.com
*/

.color-0063DC
{
	background-color: #0063DC;
}

.color-99DDFC
{
	background-color: #99DDFC;
}

.color-D4F6FA
{
	background-color: #D4F6FA;
}

.color-FF0084
{
	background-color: #FF0084;
}

.color-FCB4D9
{
	background-color: #FCB4D9;
}

.color-FEE5F2
{
	background-color: #FEE5F2;
}

.color-FEFEFE
{
	background-color: #FEFEFE;
}

.color-BAAD78
{
	background-color: #BAAD78;
}

.color-E7D9C6
{
	background-color: #E7D9C6;
}