/*
	Daily Color Scheme: Funky Alcoholic
	http://beta.dailycolorscheme.com
*/

.color-213240
{
	background-color: #213240;
}

.color-90AEC6
{
	background-color: #90AEC6;
}

.color-10C8CD
{
	background-color: #10C8CD;
}

.color-EC1559
{
	background-color: #EC1559;
}

.color-FAF93C
{
	background-color: #FAF93C;
}