/*
	Daily Color Scheme: Propaganda USSR
	http://beta.dailycolorscheme.com
*/

.color-662B2D
{
	background-color: #662B2D;
}

.color-B03C0D
{
	background-color: #B03C0D;
}

.color-E7371A
{
	background-color: #E7371A;
}

.color-EAB239
{
	background-color: #EAB239;
}

.color-193D55
{
	background-color: #193D55;
}

.color-4D7086
{
	background-color: #4D7086;
}

.color-2B877E
{
	background-color: #2B877E;
}

.color-8A8C81
{
	background-color: #8A8C81;
}

.color-D5C8B8
{
	background-color: #D5C8B8;
}