/*
	Daily Color Scheme: Squeezed Melons
	http://beta.dailycolorscheme.com
*/

.color-005381
{
	background-color: #005381;
}

.color-8BC6CC
{
	background-color: #8BC6CC;
}

.color-0D813D
{
	background-color: #0D813D;
}

.color-81BB99
{
	background-color: #81BB99;
}

.color-C0000B
{
	background-color: #C0000B;
}

.color-D8787E
{
	background-color: #D8787E;
}

.color-FF6800
{
	background-color: #FF6800;
}

.color-FFAE7A
{
	background-color: #FFAE7A;
}

.color-FFD57A
{
	background-color: #FFD57A;
}