/*
	Daily Color Scheme: Summer groove
	http://beta.dailycolorscheme.com
*/

.color-2E3B6B
{
	background-color: #2E3B6B;
}

.color-5271E0
{
	background-color: #5271E0;
}

.color-B3BEE6
{
	background-color: #B3BEE6;
}

.color-EBEEFA
{
	background-color: #EBEEFA;
}

.color-FFFFFF
{
	background-color: #FFFFFF;
}

.color-DE2C00
{
	background-color: #DE2C00;
}

.color-FF7E5F
{
	background-color: #FF7E5F;
}

.color-FFAA95
{
	background-color: #FFAA95;
}

.color-FAEEEB
{
	background-color: #FAEEEB;
}