/*
	Daily Color Scheme: Tropical Beach
	http://beta.dailycolorscheme.com
*/

.color-FDF6E3
{
	background-color: #FDF6E3;
}

.color-EBD9A9
{
	background-color: #EBD9A9;
}

.color-DBD49E
{
	background-color: #DBD49E;
}

.color-A3C9A2
{
	background-color: #A3C9A2;
}

.color-339064
{
	background-color: #339064;
}

.color-128073
{
	background-color: #128073;
}

.color-0F6679
{
	background-color: #0F6679;
}

.color-112E72
{
	background-color: #112E72;
}

.color-808080
{
	background-color: #808080;
}